/* Global styles */
:root {
    --primary-color: #6ab0ff;      /* Light Blue */
    --secondary-color: #4b6584;    /* Faded Blue */
    --background-color: #f8f9fa;   /* Clouds */
    --text-color: #2c3e50;         /* Midnight Blue */
    --accent-color: #8e44ad;       /* Purple */
    --neutral-color: #95a5a6;       /* Concrete */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
}

body {
    font-family:sans-serif;
}

nav h1 {
    font-size: 2.5rem;
    white-space: nowrap;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

nav ul {
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    margin: 0 0.2rem;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover, a:focus {
    text-decoration: none;
    color: var(--secondary-color);
}

footer h5 {
    text-align: center;
}
footer {
    padding: 2rem;
}

.heading{
    color: var(--primary-color);
}

.sub-heading{
    color: var(--secondary-color);
}

.center-text{
    text-align: center;
}

button {
    border: none;
    text-decoration: none;
    display: inline-block;
}

.accent{
    color: var(--accent-color);
}

.no-wrap {
    white-space: nowrap;
}

.offscreen {
    position: absolute;
    left: -10000px;
}
