header{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

a#CurrentPage{
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: black;
}

nav{
    padding-right:10px;
}

form{
    display: flex;
    flex-flow: column wrap;
}

form button{
    width: 100px;
    height: 40px;
    margin: auto;
}


/* *{
    border: 1px solid black;
} */