/* || RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    background-color: var(--clr-background-900);
}

button {
    font: inherit;
    text-decoration: none;
    border: none;
}

input {
    font: inherit;
    text-decoration: none;
    border: var(--clr-primary-400) solid 1px;
}

a {
    text-decoration: none;
    color: var(--clr-primary-400);
}

hr {
    border: 0.5px solid var(--clr-primary-400);
}

li {
    list-style: none;
}

/* GENERAL STYLES */

html{
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
}

#app-view {
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    border: 1px solid var(--clr-primary-400);
}

#app-menu {
    border-bottom: 1px solid var(--clr-primary-400);
}

#page-view {
    display: flex;
    flex: 1;
}

.content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
}

/* || VARIABLES */

:root {
    /* COLOURS */
    --clr-primary-900: hsla(300, 100%, 5%, 1);

    --clr-primary-400: hsla(266, 62%, 18%, 1);

    --clr-secondary-700: hsla(289, 36%, 26%, 1);

    --clr-secondary-400: hsla(328, 25%, 42%, 1);

    --clr-neutral-400: hsla(5, 41%, 79%, 1);
    
    --clr-background-100: hsla(21, 81%, 92%, 1);

}