/* || RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--clr-primary-600);
    background-color: var(--clr-background-900);
}

button {
    font: inherit;
    text-decoration: none;
    border: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--clr-primary-600);
}

.indent {
    text-indent: 2rem;
}

/* GENERAL STYLES */

html{
    font-family: sans-serif;
}

/* || VARIABLES */

:root {

    --clr-transparent: transparent;
    
    --clr-primary-800: #002b3b;
    --clr-primary-600: #004d66;
    --clr-primary-400: #0077a7;
    --clr-primary-200: #0f99bb;

    --clr-accent-600: #ee7600;
    --clr-accent-400: #f9a825;
    --clr-accent-200: #ffca28;

    --clr-background-900: #f7fdff;
}

/* || BLOCKS/COMPONENTS */

/* MEDIA */
