#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e1da;
    border-radius: 3rem;
    padding: 5rem 5rem;
    gap: 2rem;
}

.about-container > p {
    text-align: center;
}