.navbar{
    display: flex;
    justify-content: flex-end;
    margin: 1rem 2rem 1rem 0;
    gap: 1.5rem;
    font-size: 1.1rem
}


.navbar-link {
    cursor: pointer;
}

@media screen and (max-width: 767px){
    .navbar {
        justify-content: center;
    }
}