#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    /* height: 100vh; */
    /* overflow: auto; */
}

#carousel {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 3rem;
    padding: 0px 20px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}

.controls {
    display: flex;
    gap: 20px;
    font-size: 2rem;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}